.__dd {
    &__container {
        max-width: #{1620px + 60px};
        padding-left: 30px;
        padding-right: 30px;
        margin: 0 auto;
    }
    &__heading {
        &.is--on {
            font-family: 'a_BodoniNova';
            font-size: 36px;
            font-weight: bold;
            color: #fff;
            margin-bottom: 30px;
        }
        &.is--tw {
            color: #fff;
            font-size: 24px;
            margin-bottom: 15px;
        }
        &.is--th {
            font-size: 72px;
            font-weight: 300;
            margin-bottom: 30px;
            &.is--white {
                color: #fff;
            }
            &.is--black {
                color: #212431;
            }
            &.is--bg {
                position: relative;
                &::after {
                    content: attr(data-text);
                    position: absolute;
                    left: 0;
                    opacity: .1;
                    font-family: 'a_BodoniNova';
                    font-size: 150px;
                    font-weight: bold;
                    bottom: -20px;
                    line-height: 140px;
                }
            }
        }
    }
    &__desc {
        p {
            font-size: 18px;
            color: #dac6ac;
            margin: 0 0 15px 0;
            line-height: 20px;
        }
        &.is--dark {
            p {
                color: #212431;
            }
        }
    }
    &__mb30 {
        margin-bottom: 30px;
    }
    &__mb40 {
        margin-bottom: 40px;
    }
    &__btn {
        background: #E91044;
        transition: .35s all ease;
        color: #000;
        font-size: 18px;
        border-radius: 3px;
        padding: 18px 30px;
        line-height: 18px;
        display: inline-block;
        outline: none;
        border: none;
        &:hover {
            background: #5BDDF9;
        }
    }
}

@media (max-width: 768px) {
    .__dd {
        &__heading {
            &.is--on {
                font-size: 24px;
                margin-bottom: 20px;
            }
            &.is--tw {
                font-size: 20px;
                margin-bottom: 10px;
            }
            &.is--th {
                font-size: 36px;
                margin-bottom: 20px;
                line-height: 26px;
                &.is--bg {
                    &::after {
                        font-size: 60px;
                        line-height: 90px;
                    }
                }
            }
        }
        &__desc {
            p {
                font-size: 16px;
                line-height: 18px;
            }
        }
    }
}